.asideactive{
    background: #fff;
    color: red!important;
}
.category{
    .categorymain{
        display: flex;
        aside{
            ul{
                // min-height: 525px;
                border-right: 1px solid lightgray!important; 
                li{
                    height: 100%;
                    width: 90px;
                    line-height: 40px;
                    border-bottom: 1px solid lightblue;
                    a{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
        main{
            width: 75%;
        }
    }
}

.classify_banner{
    img{
        width: 100% ;
    }
}

.product{
    text-align: left;
    width: 50%;
    border: 1px lightgray;
    background: #fff;
    margin: 5px;
}
.product .pro_tupian>img{
    width: 100%;
}

.product p{
    font-size: 11px;
    line-height: 25px;
    margin: 0;
    color:lightseagreen
}

.product .pro_jiage{
    display: flex;
    justify-content: space-between;
}

.product .pro_jiage span{
    font-size: 14px;
    color: red;
    margin-left: 10px;
}

.product .pro_jiage img{
    width: 15px;
}