html{
  font-size: 13.33333333333vw!important;
}
*{
  margin: 0;
  padding: 0;
}
body{
  margin:0;
  font-size: 14px;
}
ul,ol{
  list-style: none;
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color:#000!important;
}
.active{
  color:red!important;
}